footer {
    display: flex;
    padding-block: 1.5rem;
    justify-content: space-between;
    gap: 1.5rem;
    align-items: center;
    font: 1rem/150% var(--font-family);
}

footer span:nth-child(1) {
    margin-right: auto;
}