* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root*/
:root {
    --brand-color: #EF5F4C;
    --background-color: #FFFFFF;
    --surface-color: #F5F5F5;
    --skeleton-color: #D9D9D9;
    --shape-transparency: #ffffff8f;
    --text-color-primary: #313131;
    --text-color-secundary: #6C6C6C;

    --font-family: "Poppins", sans-serif;
    --text-lg: bold 2rem/125% var(--font-family);
    --text-md: normal 1rem/170% var(--font-family);
    --text-sm: normal 0.8rem/170% var(--font-family);
    --text: normal 1.5rem/150% var(--font-family);

}

body {
    font-family: "Poppins", sans-serif;
    font: var(--text);
    background-color: var(--background-color);
    color: var(--text-color-secundary);
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: var(--brand-color);
    text-decoration: underline;
}

.container {
    padding-inline: 2rem;
    max-width: 100%; /*80rem de acordo com a aula */
    margin-inline: auto;
}

.bg-surface-color {
    color: var(--surface-color);
}

header {
    font: var(--text-lg);
    color: var(--text-color-secundary);
}

.paragraph-md {
    font: var(--text-md);
}

.paragraph-sm {
    font: var(--text-sm);
}
